<!doctype html>
<html lang="ru" xmlns:form="http://www.w3.org/1999/html">
<head>
    <title>Тест</title>
</head>
<body>

<button onclick="document.location = '/logout'">Выйти</button>
<br><br>
<h1>Добро пожаловать ${user.username} </h1>
<h2>Дата регистрации : ${user.dateRegistration}</h2>

<#if user.numberOfTest??>
        <h2> Количество тестов : ${user.numberOfTest}</h2>
    <#else>
        <h2>   Количество тестов : none</h2>
</#if>

<#if user.scoreOfuser??>
        <h2> Количество баллов :${user.scoreOfuser}</h2>
<#else>
        <h2> Количество баллов : none</h2>
</#if>

<h2>Выберите тест :</h2>
<br><br>
<form action="/test" method="post">
    <label>
        <select name="name">
                <option value="select">--Выбрать тест--</option>
                <option value="физика">Физика</option>
                <option value="история">История</option>
        </select>
    </label>
    <input type="submit" value="Выбрать">
</form>
<#--Физика <button value="physic" ><a href="/test/testPhysics">Перейти</a></button>-->

</body>
</html>